body{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    background-image: url("./images/weather.jpg");
    background-position: 0 auto;
}
h1{
    text-align: center;
}
input{
    display: block;
    margin: 0 auto;
    border-color: black;
    border-radius: 5px;
    color: black;
}
.data{
    display: block;
    margin: 0 auto;
    text-align: center;
}